<tr>
	<td>
		<%= equipment.tag %>
	</td>
	<td>
		<%= equipment.name %>
	</td>
	<td>
		<%= give_status(equipment.status) %>
	</td>
	<td class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "Edit", edit_equipment_path(equipment) %></li>
			<li><%= link_to "Delete", equipment, method: "delete", data: { confirm: "You sure?" } %></li>
		</ul>
	</td>
</tr>