<% provide(:title, "Edit equipment")%>
<h1>Update <%= @equipment.name %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@equipment) do |f| %>	
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :tag %>
			<%= f.text_field :tag, class: 'form-control' %>

			<%= f.label :status %>
			<%= f.select :status, options_for_select([["IN", true],["OUT", false]], @equipment.status)%>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>