<div class="jumbotron">
	<p class="center">
		<b>Equipment Name:</b> "<%= @equipment.name %>", 
		<b>Tag:</b> "<%= @equipment.tag %>", 
		<b>Status:</b> "<%= give_status(@equipment.status)%>"
	</p>
	<h2 class= "center">
		<%= link_to "Equipment Index", equipment_index_path %> or
		<%= link_to "Add More Equipment?", addequipment_path %>
	</h2>
</div>