<tr>
	<td> 
		<%= request.equipment.tag %> :
		<%= request.equipment.name %>
	</td>
	<td>
		<%= request.name %>
	</td>
	<td>
		<%= request.sid %>
	</td>
	<td>
		<%= request.email %>
	</td>
	<% if !SignOut.where(:request_id => request.id).blank? %>
		<td>
			<%= get_admin_name_from_sign_out(request) %>
		</td>
		<td>
			<%= sign_out_date(request) %>
		</td>
	<% else %>
		<td>
			--
		</td>
		<td>
			--
		</td>
	<% end %>
	<% if !SignIn.where(:request_id => request.id).blank? %>
		<td>
			<%= get_admin_name_from_sign_in(request) %>
		</td>
		<td>
			<%= sign_in_date(request) %>
		</td>
	<% else %>
		<td>
			--
		</td>
		<td>
			--
		</td>
	<% end %>
	<td class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<div id="sign_out_form">
					<% if request.signed_out_by.count < 1 %>
						<%= render 'sign_out', :request => request %>
					<% else %>
						<%= render 'undo_sign_out', :request => request %>
					<% end %>
				</div>
			</li>
			<li>
				<div id="sign_in_form">
					<% if request.signed_in_by.count < 1 %>
						<%= render 'sign_in', :request => request %>
					<% else %>
						<%= render 'undo_sign_in', :request => request %>
					<% end %>
				</div>
			</li>
			<li><%= link_to "Delete", request, method: "delete", data: { confirm: "You sure?" } %></li>
		</ul>
	</td>
</tr>