<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	<%= link_to "ASU Student Union", '/', id: "logo" %>
	<nav>
		<ul class="nav navbar-nav navbar-right">
		<% if logged_in? %>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Requests<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Index", requests_path %></li>
				</ul>
			</li> 
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Admins<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Add", signup_path %></li>
					<li><%= link_to "Index", admins_path %></li>
				</ul>
			</li> 
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Equipment<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Add", addequipment_path %></li>
					<li><%= link_to "Index", equipment_index_path %></li>
				</ul>
			</li> 
			<li><%= link_to "Log Out", logout_path, method: "delete" %>
		<% else %>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Log in", login_path %></li>
		<% end %>
		</ul>
	</div>
</header>